
$bg-color: #0c121b;
$text-primary: #e6f1ff;
$text-secondary: rgb(0, 153, 255);
$headings-color:whitesmoke;

$header-color: rgba(0, 0, 0, 0.4);
$secondary-color: rgb(255, 221, 31); 
$typed-color: #fdee00; 
$transition-speed: 600ms;
$header-height: 4rem;

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0 ;
    padding: 0;
    line-height: 1.5;
}

/* ---------- Scroll Bar ------------ */ 
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track-piece:start {
    background:$secondary-color;
}
body::-webkit-scrollbar-track {
    background: $bg-color;
}
body::-webkit-scrollbar-thumb {
    background:$secondary-color;
}
/* -------------------------------- */ 


body{
    background-color: $bg-color;
    color:$text-primary;
    text-align: center;
}


/* ----------- HEADER --------- */

#header{
    width: 100vw;
    padding: 0 15vw;
    height: $header-height;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: $header-color;
    display: flex;
    align-items: center;
    transition: top 0.3s;
}


/* ----------- NavBar --------- */

.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    height : 100% ;
    width: 100%;
}

.nav-item{
    height:100%;
}

.nav-text {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease 0s;
    color: $text-primary;
}

.nav-text:hover{
    /* background-color: black; */
    color:$secondary-color;
    padding: 0 1.5rem 0.5rem;
}


.nav-icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    transition: all 0.3s ease 0s;
}

svg {
    width: 2rem;
    height: 2rem;
    fill: white;
}

.nav-icon:hover svg,
.nav-icon:hover {
    fill: $secondary-color;
    transform : scale(1.07);
}

#logo:hover svg,
#logo:hover {
    transform: rotate(-180deg);
    transition: 1s;  
}

#logos-navbar{
    margin-left: auto;
}

#toggle-menu{
    margin-left: auto;
    display:none;
    cursor: pointer;
}

/* ----------- Sections --------- */

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    min-height: 130vh;
    padding-top: $header-height;
    background-attachment: fixed;
    background-size: cover;

    a{
        color:$text-secondary;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        &:hover{
            text-decoration: underline;
        }
    }
    
    p{
        padding-bottom: 1rem;
    }

}


#intro-section{
    min-height: 100vh;
}

.subsection{
    display: flex;
    align-items: center; 
    text-align: left;
    width: #{"min(900px,80%)"};
    margin: auto;
    justify-content: space-between;   
}

.subsection-title{
    color:$headings-color;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

.subsection-content{
    margin: 0 2rem 2rem;
}

.styled-list{

    ul {
        list-style: none; /* Remove default bullets */
        }
        
    li{
    padding-left: 1.5rem;
    padding-bottom: 0.25rem;
    }
    
    ul li::before {
        content: "▹";
        color: $text-secondary;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-left: -1.5rem;
        margin-right: 0.5rem;
    }

}



.content-title{
    color:$headings-color;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
    display:flex;
    align-items: center;
    // justify-content: center;
}

.header-icon{
    height: 2rem;
    padding-right: 1rem;
    padding-left: calc(50% - 6rem);
}

.content-block{
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 1.1rem;   
}

.block-title{
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
    display: flex;
    align-items: center;
}

.subsection-fix-video{
    width: #{"min(500px, 90vw)"};
    margin: 0 auto 2rem;
}

.subsection-2videos{
    display:flex;
    align-items: center;
    width : 90%;
    margin: auto;
    justify-content: space-around;
}

.subsection-var-video{
    width: 45%;
    margin-bottom: 2rem;
}

.text-mask{
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


$p-color: lightgray;
#work-sub{
    align-items: flex-start;
    justify-content:start;
    flex-direction: column;
    margin: 3rem auto ;
    p{
        color: $p-color;
    }
}

.tabs-container{
    display: flex;
    align-items: flex-start;
    justify-content:start;
    min-height: 15rem;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.job-tabs-list{
    list-style: none;
    margin-left: 5%;
}


$job-tab-unactive:gray;
$job-tab-active-bg:rgb(22, 35, 53);

.job-tab{
    cursor:pointer;
    padding: 1rem;
    color: $job-tab-unactive;
    border-left: 2px solid $job-tab-unactive;
    &:hover{
        background-color: $job-tab-active-bg;
    }
}


.job-tab.active{
    background-color: $job-tab-active-bg;
    color: $text-secondary;
    border-left: 2px solid  $text-secondary;
}

.job-tab-content{
    display: inline-block;
    width: 70%;
    margin: 0  auto;
}


/* ----------- Image - Videos --------- */

.img-container{

    height: 400px;
    width: 400px;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-img{
    object-fit: cover;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.video-container{
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.resp-iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ----------- Responsive --------- */


@media screen and (max-width: 768px){
    header {
        padding: 0 5vw;
    }

    #toggle-menu{
        display:block
    }
    
    .navbar{
        position: absolute;
        top: $header-height; 
        left: -100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.4);
        transition: 0.5s;
        height: calc(100vh - #{$header-height});
    }
    
    .navbar.active{
        left: 0;
    }
    
    #logos-navbar{
        margin:0;
    }


    .subsection{
        width: 100vw;
        margin: 0;
        flex-direction: column;
    }

    .img-container{
        height: 85vw;
        width: 85vw;
    }
    .rounded-img{
        height: 100%;
        width: 100%;
    }

    .subsection-2videos{
        flex-direction: column;
    }
    .subsection-var-video{
        width: 100%;
    }
    .subsection-content{
        order:-1;
    }



    .tabs-container{
        flex-direction: column;
        align-items: center;
    }

    .job-tabs-list{
        display:flex;
        justify-content: space-around;
        align-self: flex-start;
        // width: 80vw;fazer dar certo adima
        padding-bottom: 1rem;
    }

    .job-tab{
        border-left: none;
        border-top: 2px solid $job-tab-unactive;
        
        &:hover{
            background-color: $job-tab-active-bg;
        }
    }

    .job-tab.active{
        border-left: none;
        border-top: 2px solid $text-secondary;
    }

}
/* ---------------------------- */


/* -- BG IMAGES -- */
.bg-img-1{background-image: url(../images/bg-insano.png);}
.bg-img-2{background-image: url(../images/asia2.jpg);}
.bg-img-3{background-image: url(../images/snowboard.jpg);}
.bg-img-4{background-image: url(../images/adventure.jpg);}
.bg-img-5{background-image: url(../images/rick-morty.jpg);}


/* -- Opening -- */
.intro-text{
    text-align: left;
    margin: 2rem;
}

.title-name{
    font-family: 'Poiret One', cursive;
    font-size: #{"min(20vw,7.5rem)"};
}

.typed-sentence{
    font-size: #{"min(10vw,4rem)"};
    span{
        font-size: inherit;
    }
}

.typed-element{
    color:$typed-color;
    font-size: #{"min(10vw,4rem)"};
}


/* -- Music -- */

.music{
    background-color: black;
    /* background-color: rgb(255, 136, 136); */
}
.music .text-mask{
background-image: url(../images/music-bg.png);
font-size: 18vw;
font-weight:bolder;

}


/* -- Sports -- */

.sports{
    background-color: rgb(243, 243, 243);
    color : rgb(49, 135, 206);
}

.sports .text-mask{
background-image: url(../images/sports-bg.png);
font-size: 18vw;
font-weight: bolder;
}


/* -- Travel -- */
.travel{
    background-color: rgb(255, 38, 38);
}

.travel .text-mask{
    background-image: url(../images/travel.jpg);
    font-size: 18vw;
}

/* Slideshow container */
.slideshow-container {
    height: 80vh;
    width: 80vw;
    position: relative;
    margin: auto;
    overflow:hidden;
    display: flex;
    align-items: center;

    img{
        width: 100%;
        object-fit: cover;
    }
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    &:hover{
        background-color: rgba(0,0,0,0.8);
    }
}

.prev{
    left:0;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
    &:hover {
     background-color: #717171;
   }
   
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* -- Footer -- */
footer{
    margin: 0;
    padding: 0.5rem;
}


 /* ---------- LOADER --------- */
.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .loader {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }