:root {
    /* font-size: 16px;
    font-family: 'Open Sans';*/
    --text-primary: #e6f1ff;
    --text-secondary: yellow; 
    --bg-header: black;
    /* --bg-primary: black; */
    --bg-primary: #0c121b;
    --bg-secondary: #333;
    --transition-speed: 600ms;
  }

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bg-primary);
    color:var(--text-primary);
    text-align: center;
    line-height: 1.5;
}

body::-webkit-scrollbar-track-piece:start {
    /* Select the top half (or left half) or scrollbar track individually */
    background:var(--text-secondary);
 }
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  body::-webkit-scrollbar-track {
    background: var(--bg-primary);
  }
  body::-webkit-scrollbar-thumb {
    background:var(--text-secondary);
  }

h1{
    color:white;
}
h2{
    color: white;
}


header{
    background-color: var(--bg-header);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.empty-header{
    height: 4rem;
}

.nav-container {
    position: relative;
    left: 15%;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    list-style: none;
    display: flex;
    align-items: center;
    height : 100% ;
}

.nav-item{
    height:100%;
}

.nav-text {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
    transition: all 0.3s ease 0s;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-text:hover{
    background-color: black;
    color:var(--text-secondary);
}


.nav-icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    transition: all 0.3s ease 0s;
  }

svg {
    width: 2rem;
    height: 2rem;
    fill: white;
  }

.nav-icon:hover svg,
.nav-icon:hover {
    fill: var(--text-secondary);
  }


.box{
    height: 96vh;
    padding-top: 4rem;
}

.intro-section{
    background-image: url(../images/bg-insano.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text{

    text-align: left;
}

.title-name{
    font-family: 'Poiret One', cursive;
    font-size: 6.5rem;
}

.typed-sentence{
    font-size: 4rem;
}

.typed-element{
    color:var(--text-secondary)
}

.section-title{
    color:whitesmoke;
    text-align: center;
    padding: 2rem;
}

.about-section{
    display: flex;
    align-items: flex-start; 
    text-align: left;
    margin: 0 20%;
    justify-content: space-between;

}

.about-section p{
    padding-bottom: 1rem;    
}

.about-section ul{
    list-style-position: inside;
}

.about-img{
    /* height: 7; */
    height: 50%;
    margin-top: 3rem;
    border-radius: 50%;
}

.about-content{
    margin-left: 3%;
}

.section-3{
    background-image: url(../images/snowboard.png);
    background-attachment: fixed;
    background-size: cover;
}

.section-bg-4{
    background-image: url(../images/travel.png);
    background-attachment: fixed;
    background-size: cover;
}

.videos-container{
    margin: 0 10%;
    display:flex;
    justify-content: space-around;
}

.videos-container iframe{
    /* width: 30%; */
    /* height: 315; */
}

.longblock {
	display: flex;
	justify-content: flex-start;
	margin-bottom:50px;
}	

.longblock .left {
	flex: 0 1 200px;
	min-width: 180px;
	vertical-align: text-top;
}

footer{
    margin: 0;
    padding: 0;
}

.music{
    background-color: rgb(255, 159, 159);
}

.sports{
    background-color: chartreuse;
}
.travel{
    background-color: rgb(205, 214, 81);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }